{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">About Me</h2>
                    <div class="about-content">
                        <!-- Add your content here -->
                        <p>Hey there, I'm Hima kishore. I built this mini project to test out the cross platform API connectivity, hope you like it mate!</p>
                        <!-- You can customize this section with your personal information -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
